//output:topsites.html
doctype html
html(lang="fr")
	head
		title Top Sites
		style
			include style.css
	body
		// script(src="conf.js")
		script
			include conf.js
			include sitepics.js
		table.content
			tr
				td
					div.site#site1
				td
					div.site#site2
				td
					div.site#site3
				td
					div.site#site4
			tr
				td
					div.site#site5
				td
					div.site#site6
				td
					div.site#site7
				td
					div.site#site8
			tr
				td
					div.site#site9
				td
					div.site#site10
				td
					div.site#site11
				td
					div.site#site12
		script
			include topsites.js
